:host {
    display: block;
    min-height: 100vh; /* La página puede crecer hacia abajo */
    width: 100%;
    background-image: url('/assets/Salesiana.gif');
    background-size: cover; /* Asegura que el GIF cubra toda el área */
    background-position: center; /* Centra el GIF */
    background-repeat: no-repeat; /* Evita que el GIF se repita */
    background-attachment: fixed; /* El GIF permanece fijo mientras se hace scroll */
    overflow: auto; /* Permite scroll si es necesario */
    position: relative;
}
  
:host::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.8); /* Capa semitransparente encima del GIF */
    z-index: 0; /* Coloca esta capa debajo del contenido */
    pointer-events: none; /* Asegura que no interfiera con los clics del contenido */
}

.content {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 30vh;
}


.table-container {
    overflow-y: auto;   /* Activa el scroll vertical */
    border: 1px solid #ddd;
    padding: 10px;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}
.reserved {
    background-color: #ffcccc !important; /* Rojo para reservados */
}