<div class="content">
    <h1>¿Por qué Estudiar en la UPS?</h1>
    <p>
        Estudiar en la UPS implica recibir una educación para ser y no solo para saber. Somos parte de una experiencia formativa de más de 150 años presente en los cinco continentes.
        Somos herederos de una pedagogía vivencial implementada por el pedagogo italiano Don Bosco, cuyas características son el optimismo ante la vida, la creatividad para resolver problemas, la amabilidad en el trato, la solidaridad ante los sectores menos favorecidos, el respeto al ambiente, la conciencia ciudadana y la rigurosidad científica en beneficio del ser humano.
        Tendrás a tu alcance una serie de servicios tales como bibliotecas actualizadas, centros de investigación, laboratorios, centros de idiomas, pastoral universitaria, bienestar estudiantil, redes de conocimiento con universidades de todo el mundo a través de las IUS (Instituciones Salesianas de Educación Superior), grupos culturales y deportivos.
    </p>
</div>