:host {
    display: block;
    min-height: 100vh; /* Permite que la altura crezca con el contenido */
    width: 100%;
    background-image: url('/assets/Salesiana.gif');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    position: relative;
}

:host::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Ajustamos la opacidad */
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 5vh 5vw; /* Agrega espacio proporcional en dispositivos pequeños */
    max-width: 900px; /* Ajustado para mejor adaptación */
    margin: 0 auto;
    font-size: 1rem; /* Usa unidades relativas en lugar de 'large' */
    line-height: 1.5; /* Mejora la legibilidad */
}

/* Ajustes para móviles */
@media screen and (max-width: 768px) {
    .content {
        font-size: 0.9rem; /* Reduce el tamaño del texto en pantallas pequeñas */
        padding: 3vh 5vw;
        max-width: 95%; /* Permite más espacio en móviles */
    }
}

