<header>
    <div class="header-container">
        <h1>Universidad Politecnica Salesiana</h1>
        <nav>
            <ul>
            <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
            <li><a routerLink="/acerca-de" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de</a></li>
            <li><a routerLink="/reserva" routerLinkActive="active" ariaCurrentWhenActive="page">Reserva</a></li>
            </ul>
        </nav>
    </div>
</header>