<header>
    <div class="header-container">
        <img width="200px" src="../../assets/logo.png" alt="Logo UPS">
        <h1><b>Cancha UPS</b></h1>
        <nav>
            <ul>
            <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
            <li><a routerLink="/acerca-de" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de</a></li>
            <li><a routerLink="/reserva" routerLinkActive="active" ariaCurrentWhenActive="page">Reserva</a></li>
            </ul>
        </nav>
    </div>
</header>